@media screen and (max-width: 1030px){
    
    h1 {
       margin-left: 6.5rem;
    }
    
    .main-panel {
        width: 80vw;
        position: relative;
    }
}

@media screen and (max-width: 630px){
    .aside-panel {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 590px){

    h1 {
        margin-left: 4.5rem;
     }
     
    .form {
        width: 8rem;
    }

    .list-of-flashcards{
        width: 8rem;
    }

    .one-add-flashcard p{
        width: 65%;
    }

    .buttons-in-list{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }

    .counter {
        font-size:x-small;
    }

    .one-flashcard {
        width: 12rem;
        height: 20rem;
    }
    
    .one-side p {
        font-size: 1.8rem;
        width: 10rem;
    }

    .other-side p {
        font-size: 1.3rem;
        width: 10rem;
    }

    input[type=image] {
        width: 2rem;
    }

    .move-flashcards input {
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 480px){

    .container {
        flex-direction: column;
        height: 100vh;
    }
    
    h1 {
        display: none;
    }

    .aside-panel {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 7rem;
        margin-top: 3rem;
        width: 100vw;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 10rem;
        margin: 0;
    }

    .form h3 {
        margin: 0.2rem 0;
    }

    .list-of-flashcards {
        width: 60%;
        height: 10rem;
        margin: 0;
    }

    .buttons-in-list{
        width: 20%;
    }

    .counter {
        display: none;
    }

    .main-panel{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media screen and (max-height: 500px){
    h1 {
        margin-left: 0;
    }

    .aside-panel {
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .form {
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .list-of-flashcards {
        height: 15rem;
        margin: 0;
    }
    .counter {
        position: absolute;
        bottom: 3rem;
    }
    .main-panel{
        width: 50%;
    }

    .one-flashcard {
        height: 20rem;
        width: 13rem;
    }

    input[type=image] {
        width: 2rem;
    }

    .remove-button {
        bottom: -3rem;
    }
}

@media screen and (max-height: 450px){

    .form {
        height: 12rem;
    }

    .list-of-flashcards {
        height: 12rem;
    }

    .one-flashcard {
        height: 15rem;
        width: 10rem;
    }

    .one-side p {
        font-size: 1.5rem;
        width: 10rem;
    }

    .other-side p {
        font-size: 1.3rem;
        width: 10rem;
    }

    input[type=image] {
        width: 1.5rem;
    }
}